@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root {
    /* Palette */
    --black-solid:#000000;
    --light-black:#1E1E20;
    --dark-gray:#313234;
    --blue-solid:#11B0C8;
    --light-blue:#42B4CA;
    --green-solid:#BFDE42;
    --white-solid:#FFFFFF;

    /* Typography */
    --base-font: 'Roboto', sans-serif;

    /* Font-sizes */
    --font-display: 4.8em;
    --font-jumbo: 3.2em;
    --font-large: 2.4em;
    --font-medium: 1.6em;
    --font-small: 1.4em;

    /* Spacing */
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-24: 2.4rem;
    --spacing-20: 2em;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
}

/* Normalizacion manual de estilos y utilidades */
*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: var(--base-font);
    font-size: 62.5%;
    color: var(--white-solid);
    background-color: var(--light-black);
}
a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}
p {
    font-weight: 400;
    font-size: var(--font-small);
}
img {
    width: 100%;
}
.container {
    max-width: 120rem;
    margin: 0 auto;
}
.btn {
    border-style: none;
    padding: var(--spacing-8) var(--spacing-16) var(--spacing-8) var(--spacing-8);
    background-color: var(--blue-solid);
    border-radius: 32px;
    color: var(--white-solid);
    font-size: var(--font-small);
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-8);
}
.btn__icon {
    display: flex;
    font-size: var(--spacing-24);
}

/**
* Estilos para el header
*/
.header {
    background-color: var(--black-solid);
    padding: var(--spacing-68) var(--spacing-68) 0;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
}
.header__section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    max-width: 200px;
}
.header__tittle {
    font-weight: 700;
    font-size: var(--font-jumbo);
    margin: 0;
}
.header__tittle--span {
    font-size: 48px;
    display: block;
    color: var(--blue-solid);
}
.header__btns {
    display: flex;
    gap: var(--spacing-16);
}

/**
* Dark-theme & Light-theme
*/
.dark-theme {

}
.light-theme {
    display: none;
}

/**
* Estilos para el footer
*/
.footer {
    padding: var(--spacing-68);
}
.footer__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid var(--white-solid);
}
.footer__text {
    padding-top: var(--spacing-24);
}

/**
* Creacion de un loader
*/
.loader {
    padding: var(--spacing-68);
    display: grid;
    place-items: center;
}
.loader__ring {
    width: 128px;
    height: 128px;
    border: 12px solid var(--dark-gray);
    border-top: 12px solid var(--blue-solid);
    border-radius: 50%;
    animation: loader 2s linear infinite;
}
@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}